# Ignore Python bytecode caches
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
.pytest_cache/

# Ignore build / packaging artifacts
*.egg-info/

# Ignore local result and database folders
mutaap_results/
mutaap_db/
